& .division{
    width: 100vw;
    background-color: #f0f0f1;
    
    & .top, .bottom{
        height: 80px;
        padding: 0px;
        display: grid;
        gap: 1px;
        background-color: #e0e0e2;
    }

    & .top{
        grid-template-columns: repeat(8, 1fr);
    }

    & .bottom{
        grid-template-columns: repeat(7, 1fr);
    }

    & .top .item{
        border-bottom: 1px solid #e0e0e2;
    }

    & .item{
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f0f0f1;
    }

    & .image{
        height: 20px;
    }
    
}