@import url(../font.css);
.menuFour {
  width: 72vw;
  height: 419px;
  border: 1px solid #e0e0e2;
  border-radius: 16px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 1px;
  background-color: #f0f0f1;

  & .one,
  .two,
  .three,
  .four {
    width: 333px;
    height: 417px;
    padding: 8px 20px;
    background-color: white;

    & .title {
      width: 293px;
      height: 65px;
      display: flex;
      flex-direction: column;

      & .mainTitle {
        width: 293px;
        height: 33px;
        font-family: iranyekanregularBold;
        font-size: 16px;
        font-weight: 700;
        color: #23254e;
      }
      & .description {
        width: 293px;
        height: 24px;
        font-family: iranyekanregularBold;
        font-size: 11px;
        font-weight: 400;
        color: #81858b;
        margin-bottom: 8px;
      }
    }

    & .show {
      width: 292px;
      height: 26px;
      margin: 4px 0px 12px 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: iranyekanregularBold;
      font-size: 12px;
      font-weight: 700;
      color: #19bfd3;
      & img {
        width: 18px;
        height: 18px;
      }
    }

    & .container {
      width: 293px;
      height: 293px;
      padding: 0px;
      display: grid;
      grid-template-columns: 146px 146px;
      gap: 1px;
      background-color: #f0f0f1;

      & .imageContainer {
        width: 146px;
        height: 146px;
        padding: 8px;
        background-color: white;

        & img {
          width: 130px;
          height: 130px;
        }
      }
    }
  }

  & .one {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  & .four {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }
}
