@import url(./font.css);

.megaMenu {
  width: 61vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: relative;

  & .Mobile,
  & .Book,
  & .Electronic,
  & .HomeAndKitchen,
  & .HomeElectronic,
  & .Fashion,
  & .Jewelry,
  & .Beauty,
  & .Health,
  & .SportOutdoor,
  & .GiftCard,
  & .Fresh,
  & .KidsToy,
  & .Tools,
  & .Vehicles,
  & .NativeBusiness {
    direction: rtl;
    width: 10vw;
    height: 52.03px;
    border-width: 1px 0px;
    padding: 12px 8px;
    background-color: #f0f0f1;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    text-decoration: none;
    svg {
      margin-left: 8px;
    }
  }

  & .mobile,
  .book,
  .electronic,
  .homeAndKitchen,
  .homeElectronic,
  .fashion {
    display: none;
    height: inherit;
    position: absolute;
    right: 10vw;
    overflow-x: hidden;
    direction: ltr;
    flex-flow: column;
    background-color: white;
    padding: 20px 20px 0px 20px;
  }

  & .allCategory {
    width: 880px;
    height: 26.031px;
    margin-bottom: 20px;
    direction: rtl;
    display: flex;
    align-items: center;
    color: #008eb2;
    font: 700 12px iranyekanregularBold, sans-serif;
    svg {
      fill: #008eb2;
      width: 16px;
      height: 16px;
    }
  }

  & .categoriesContainer {
    width: 880px;
    height: 662px;
    direction: rtl;
    display: flex;
    flex-flow: row;
    & .childCategory {
      width: 220px;
      height: 662px;
      display: flex;
      flex-flow: column;
      & .mainItem {
        width: 220px;
        height: 38.09px;
        min-height: 38.09px;
        padding: 4px 0px;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        & div {
          width: 2px;
          height: 14px;
          padding: 0px;
          margin-left: 8px;
          background-color: #ef4056;
        }
        & span {
          font-size: 14px;
          font-weight: 700;
          font-family: iranyekanregularBold, sans-serif;
          color: #0c0c0c;
        }
        svg {
          width: 18px;
          height: 18px;
          fill: #0c0c0c;
        }
      }
      & .secondaryItem {
        width: 220px;
        height: 34px;
        min-height: 34px;
        padding: 4px 0px;
        & span {
          color: #81858b;
        }
      }
      & .secondaryItem:hover {
        color: #ef394e;
      }
      & .mainItem:hover {
        span {
          color: #ef394e;
        }
        svg {
          fill: #ef394e;
        }
      }
    }
  }

  .Mobile:hover + .mobile {
    display: flex;
  }

  .mobile:hover {
    display: flex;
  }

  .Book:hover + .book {
    display: flex;
  }

  .book:hover {
    display: flex;
  }

  .Electronic:hover + .electronic {
    display: flex;
  }

  .electronic:hover {
    display: flex;
  }

  .HomeAndKitchen:hover + .homeAndKitchen {
    display: flex;
  }

  .homeAndKitchen:hover {
    display: flex;
  }
}

& .parentItem:hover {
  background-color: white;
  color: red !important;
  use {
    fill: red;
    display: flex;
  }
}
