@font-face {
  font-family: iranyekanregular;
  src: url(../../font/IRANYekanWeb.eot);
  src: url(../../font/IRANYekanWeb.ttf);
  src: url(../../font/IRANYekanWeb.woff);
  src: url(../../font/IRANYekanWeb.woff2);
}

@font-face {
  font-family: iranyekanregularBold;
  src: url(../../font/IRANYekanWeb-Bold.eot);
  src: url(../../font/IRANYekanWeb-Bold.ttf);
  src: url(../../font/IRANYekanWeb-Bold.woff);
  src: url(../../font/IRANYekanWeb-Bold.woff2);
}
